/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #f7931a; /* Cor característica do Bitcoin */
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 10px 0;
    font-size: 3em;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header .logo img {
    width: 100px;
}

/* Conteúdo principal */
main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.intro {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.latest-posts {
    margin-top: 40px;
}

.latest-posts .post {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.latest-posts .post h3 {
    font-size: 1.5em;
}

.latest-posts .post p {
    font-size: 1em;
    color: #666;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    background-color: #f7931a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.read-more:hover {
    background-color: #e67e22;
}

/* Vantagens do Bitcoin */
.benefits {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.benefits ul {
    list-style: none;
    padding: 0;
}

.benefits ul li {
    background-color: #f7931a;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
